/* CSS Document

MAIN COLORS FOR MANCELOT WEBSITE:
Dark Blue: #172b37;
Light Blue: #1e5476;
White: #fff;
Grey: #efefef;
Beige:

*/
@font-face {
    font-family: 'tertre';
    src: url('../fonts/tertre-xbol-webfont.woff2') format('woff2'),
         url('../fonts/tertre-xbol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, article, aside, figure, footer, header, menu, section, img {
	margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;
}
article, aside, figure, footer, header, hgroup, nav, section { 	display:block; }
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Standard styles */
html { 	width:100%; background:#fff; height:100%; }
body {	height:100%; width:100%; color:#1e5476; background:#172b37; font-size:15px; font-family: 'Roboto Condensed', sans-serif; font-weight:500; -webkit-text-size-adjust: none;}
table{ 	font-size:inherit;}
a, a:visited { 	color:#1e5476; margin:0; padding:8px 0px; text-decoration:none; }
a:hover,a:active { color:#1e5476;}
.back_blue a, .back_blue a:visited { 	color:#fff; }
.back_blue a:hover,.back_blue a:active { color:#fff;}

p a, p a:visited { 	color:#ea8207;  }
p a:hover, p a:active { text-decoration:underline; }

p    {  font-size: 16px; line-height: 1.5; margin-bottom: 1.5em; }
h1   {  color:#1e5476; font-family: 'tertre'; font-size:30px; font-weight:300; margin:10px 0px; padding:10px 0px;}
h2   {  color:#1e5476; font-size:20px; font-weight:800; margin:0px 0px 0px 0px;}
h3   {  color:#1e5476; font-family: 'tertre'; font-size:14px; font-weight:300; margin:0px 0px 0px 0px;}
hr   {  border:0; border-top:1px solid #ccc; 	display:block; height:1px;margin:1em 0; padding:0; }
img  { 	max-width:100%; }
.hidden { display: none; }


/* Custom general classes */
.back_white { background-color: #fff!important;  }
.back_grey { background-color: #efefef!important;}
.back_blue{ color:#fff!important; background-color:#172b37!important; }
.back_transparent { z-index: -2; }

.back_blue  h1, .back_blue h2 { color:#fff; }


.btndark,.btnlight,.btnwhite, .btnorange, .btngreen 	{	text-align:center; width:auto;	padding:16px; text-decoration:none!important; transition: all .5 ease-in-out; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out;	 }
.btndark            { color:#fff; background:#1e5476; display:inline-block; min-width: 150px; font-size: 140%	}
.btndark:hover, .btndark.active { background:#172b37; }
.btndark.active a { color:#1e5476; }

.btnlight           { color:#fff; border-radius:10px; border:solid 1px #fff; display:inline-block; width: 150px; }
.btnlight:hover     { background:#fff;  color:#1e5476;}
.btnlight:hover a   { color:#fff;}

.btnbig         { padding:16px; font-size:140%; margin-bottom:15px; }


.left_txt   {   text-align: left;   }
.center_txt {   text-align: center; }
.right_txt  {   text-align: right;  }
.just_txt  {   text-align: justify;  }

.clearfix:after { content: ".";visibility: hidden; display: block; height: 0; clear:both;}
.close {	clear: both;	font-size: 1px;	height: 1px;	line-height: 1px;}
.clear {	clear: both;}
.none  {  display:none;}

.floatr{ float:right;}
.floatl{ float:left; }

.imgdown { vertical-align:bottom;}

.grey {	color: #666!important;}
.marginmed{ margin-top:8px;}
.marginbig{ margin-top:17px;}
.margleft { margin-left:6px;}
.margbot	{ 	margin-bottom:25px;}
.margbotneg { margin-bottom: -20px; }
.margtopneg { margin-top: -15px; }
.padtop { padding-top: 15px;}
.padnobot{	padding-bottom:0px!important;}
.padnoright{padding-right:0px!important;}
.padnotop{	padding-top:0px!important;}
.nopad { padding: 0px!important }
.pointer{ 	cursor:pointer; }
.loader { cursor: progress!important; }
.relative { position:relative;}

.txt_large {font-size:180%; line-height: 140%; font-family: 'tertre';  font-weight:300; display: block; padding-bottom: 5px;}
.txt_uppercase { text-transform: uppercase; }

.msg_wrong { background:#C40003; color:#fff; padding:12px;}
.msg_right { background:#82b726; color:#fff; padding:12px;}


#mainnav ul {	margin: 0;padding: 0;list-style: none;}


/* HEADER & NAVIGATION */
#logo  { height: 110px; margin: 0px auto; text-align: center;}
#logo img { height: 100px; }


.head_imghigh,.head_imglow   { background-repeat:no-repeat; background-size:cover; background-position:center; }
.head_person    { position:absolute; z-index:3; right:0px; bottom:0px;}
.head_textblock { position:absolute; z-index:2; border-radius:15px; right:50px; text-align:center; }
.head_textname  { font-size:80%; padding-top:10px; }

/* MAIN */
#container { 	margin: 0px; padding: 0px; width: 100%; position:relative; height:auto!important; }
#main      { overflow: hidden; }
#header    { background:#fff; width: 100%;}
.section   { margin-top:-1px; position:relative; }

.inner-section { width:100%; max-width: 900px; margin:0px auto; position: relative; box-sizing: border-box;}
#intro-deel1 { padding: 100px 0px 230px 0px; }
  #intro-deel1 p { font-size: 140%; }
  #intro-deel1 .illustration {
    position:absolute; right:-15px; top:-60px;
    background-image:url('../img/1-Snap.png'); background-repeat: no-repeat; background-size: contain; background-position: right;
    height: 500px; width: 340px;
    z-index: 2;
  }
#intro-deel2 { padding: 150px 0px 120px 0px; }
  .hmmm { position: absolute; margin-top:-250px; left:0px; }
  .line_hmmm {
    position: absolute; margin-top:-220px; left:85px;
    background-image:url('../img/line1b.png'); background-repeat: no-repeat; background-size: contain;
    width: 340px; height:220px;

  }
  #intro-deel2 .inner-section { padding-left: 370px; }
  #intro-deel2 p { font-size: 120%; margin-bottom:1.4em; }
  #intro-deel2 .input_mail{padding:19px; margin-top:0px; float:left; width: 300px; margin-right: 10px;	 }
  #intro-deel2 .btndark { float:left; margin-top:0px; }
  #intro-deel2 .illustration {
    position:absolute; left:-15px; top:-20px;
    background-image:url('../img/2-Help.png'); background-repeat: no-repeat; background-size: contain; background-position: left;
    height: 400px; width: 340px;
  }
  #intro-deel2 .meer { padding: 20px 0; clear: both;}
  #intro-deel2 .line_meer {  position: absolute; bottom:-120px; left:50%; transform:translateX(-100%);
      background-image:url('../img/line2b.png'); background-repeat: no-repeat; background-size: contain;
      width: 36px; height:130px;
  }
  #intro-deel2 #returnmessage { width: 100%; clear: both; display: inline-block;}

#hoe-werkt-het { padding: 50px 0px; position: relative;}

  #hoe-werkt-het h1 { padding-bottom: 20px;}
  #hoe-werkt-het ol { list-style: none; counter-reset: my-counter; margin:0px 160px 0px 140px; }
  #hoe-werkt-het ol li { counter-increment: my-counter; text-align: left;  line-height: 20px; padding: 10px 0px}
  #hoe-werkt-het ol li::after {
    background-repeat: no-repeat; background-size: contain; background-position: left;
    position: absolute;
    display: block;
    content: "";
  }
  #hoe-werkt-het .step1::after {
    background-image:url('../img/hoe-assortiment.png');
    height: 120px; width: 120px;
    right:-20px;
    top:40px;
  }
  #hoe-werkt-het .step2::after {
    background-image:url('../img/hoe-donatie.png');
    height: 100px; width: 100px;
    left:-10px;
    top:140px;
  }
  #hoe-werkt-het .step3::after {
    background-image:url('../img/hoe-voordeel.png');
    height: 70px;
    width: 70px;
    right: 30px;
    top: 256px;
  }
  #hoe-werkt-het .step4::after {
    background-image:url('../img/hoe-hart.png');
    height: 50px; width: 50px;
    left:22px;
    top:360px;
  }
  #hoe-werkt-het ol li::before {
    content: counter(my-counter) "";
    background:#fff;
    color:#172b37;
    width: 25px; height: 25px;
    border-radius: 5px;
    padding: 11px 8px 5px 8px;
    margin: 3px 20px 10px 0px;
    text-align: center;
    font-weight: bold;
    float:left;
    font-family: 'tertre'; font-size:26px; font-weight: 800;
  }

#duurzame-kleding {}
  #duurzame-kleding li { text-align: center; display:inline-block;}
  #duurzame-kleding li img { width: 50px; padding: 35px}

#wat-en-wie { padding: 50px 0px 80px 0px; position: relative;}
  #wat-en-wie .inner-section { max-width:520px;}
  #wat-en-wie h1 { max-width:520px; }
  #wat-en-wie .roman, #wat-en-wie .lorentz {
    position: absolute;
    background-repeat: no-repeat; background-size: contain; background-position: bottom;
    bottom: 0px;
  }
  #wat-en-wie .roman   {
    background-image:url('../img/roman@4x.png');
    left:calc(50% - 480px);
    width: 220px;height:220px;
    }
  #wat-en-wie .lorentz {
    background-image:url('../img/lorentz@4x.png');
    left: calc(50% + 270px);
    width: 210px; height:210px;}


/* FOOTER */
  #contact { position: relative; height: 150px;}
    #contact .partner, #contact .vragen {
      position: absolute;
      background-repeat: no-repeat; background-size: contain; background-position: bottom;
      top: 20px;
      text-align: center;
    }
    #contact .social_list {
      text-align: center;
      width: 100%;
      padding: 50px 0 0 0;
    }
    .social_insta { width: 30px; height: 30px; margin: 5px;    background-image:url('../img/instagram.png');background-size: contain; display: inline-block;}
    .social_fb { width: 30px; height: 30px;  margin: 5px;    background-image:url('../img/facebook.png');background-size: contain;  display: inline-block;}
    #contact .partner   {
      left:calc(50% - 480px);
      width: 220px;height:100px;
      }
    #contact .vragen {
      left: calc(50% + 270px);
      width: 210px; height:100px;
    }
    #contact h2  {
      margin: 6px 0 16px 0px;
    }
    #contact .partner a, #contact .vragen a  {
      margin: 10px 0px;
      padding: 10px 0px;
    }




/* FORMS */
select,input,button,textarea { background:#fff; 	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border:1px #ccc solid; min-height:26px; width:100%; box-sizing:border-box;font-size:16px; }
input,select { vertical-align:middle; }
.label { float:left; width:30%; clear:both; padding-top:15px; text-align:left;}
.field { float:left; margin-top:10px;}


@media all and (max-width: 745px ) {  .back_img_joboffer {  visibility: hidden;  }  }

/* ANIMATIONS TODO */

/* Animations */
.animated {  -webkit-animation-duration: 0.75s;  animation-duration: 0.75s;  -webkit-animation-fill-mode: both;  animation-fill-mode: both;  }
.animated.infinite {  -webkit-animation-iteration-count: infinite;  animation-iteration-count: infinite;  }

/* Fade In Up */
@-webkit-keyframes fadeInUp {
    from {  opacity: 0;  -webkit-transform: translate3d(0, 100%, 0);  transform: translate3d(0, 100%, 0);  }
    to {  opacity: 1;  -webkit-transform: none;  transform: none;  }
}

@keyframes fadeInUp {
    from {  opacity: 0;  -webkit-transform: translate3d(0, 100%, 0);  transform: translate3d(0, 100%, 0);  }
    to {  opacity: 1;  -webkit-transform: none;  transform: none;  }
}

.fadeInUp {  -webkit-animation-name: fadeInUp;  animation-name: fadeInUp;  }
