DEBUG=False
SECRET_KEY=

EMAIL_URL=consolemail://
# EMAIL_URL=smtp+tls://username:password@localhost:587

DATABASE_URL=mysql://mancelot:password@mancelot-mariadb:3306/mancelot

CACHE_URL=dummycache://
# CACHE_URL=memcache://mancelot-memcached:11211
CELERY_BROKER_URL=redis://:password@mancelot-redis:6379/db_number

SENTRY_ENVIRONMENT=development
SENTRY_DSN_API=

OPEN_EXCHANGE_RATES_APP_ID=
MOLLIE_API_KEY_LIVE=
MOLLIE_API_KEY_TEST=
