celery==4.4.1
coverage==5.1
Django==2.2.13
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-contact-form==1.8.1
django-cors-headers==3.4.0
django-countries==6.1.2
django-environ==0.4.5
django-extensions==2.2.9
django-filebrowser-no-grappelli==3.8.0
django-filter==2.3.0
django-html-validator==0.5.1
django-jsonfield==1.4.0
django-money==1.1
django-redis==4.12.1
django-silk==4.0.1
django-tinymce4-lite==1.8.0
djangorestframework==3.11.0
djangorestframework_simplejwt==4.4.0
factory-boy==2.12.0
Faker==4.1.1
flower==0.9.4
matplotlib
numpy
olefile==0.46
tblib==1.6.0
ipython
jsonfield==3.1.0
Pillow
mollie-api-python==2.3.1
mysqlclient==1.4.6
pyyaml==5.3.1
redis==3.5.3
requests-mock==1.8.0
uritemplate==3.0.1
uwsgi==2.0.19.1
sentry-sdk==0.15.1
