.wishlist_content { height:100%; transition: all 0.8s; }
.wishlist_content .no_items { display: none; background: transparent;}
.wishlist_content .product_image { width: 60px; height: 120px; background-size: contain; background-repeat: no-repeat; background-position: center;transition: all 0.8s;}
.wishlist_content .wishlist_items  { background-repeat: no-repeat; background-position:center bottom; background-image: url('../../assets/wishcloud.png'); background-size: 110% auto; background-color: transparent; margin-top: 400px; transition: all 0.8s;}

.wishlist_content ul { list-style: none; margin: 0; padding: 0; }
.wishlist_content li { list-style: none; margin: 0; padding: 0; width: 50%; }

.wishlist_content .when {
  padding: 0 7% ;
  font-family: "Roboto Condensed", Arial, sans-serif;
  color:#909090;
  font-size: 90%;
  text-align: center;
}
.wishlist_content .when h3 { margin: 0px auto; text-align: center;}


/* Wishlist op productdetail page (small)*/
.wishlist_content.small {height: 130px;}
.wishlist_content.small .no_items { display: block; margin: 0px auto; padding: 15px; font-size: 110%; text-align: center; color:#909090}
.wishlist_content.small .no_items span { font-size: 90%;}
.wishlist_content.small .wishlist_items  { margin-top: 0px;}


.wishlist_content.small .product_summary {display:none}
.wishlist_content.small .when {display:none}
.wishlist_content.small .impact {display:none}
.wishlist_content.small .product_image { width: 30px; height: 60px;}
.product_button_min{}
.product_amountsize{}
  .product_amount{}
  .product_size{}
.product_button_plus{}
