.profilefield_container {
  width: var(--page-width);
  margin: var(--page-margin) auto;
  text-align: center;
  font-family: "Roboto Condensed", Arial, sans-serif;
  clear: both;
  min-height: 40px;
  padding-top: 10px;
}

.profilefield_container .label {
  float:left;
}
.profilefield_container .value {
  float:right;
  text-align: right;
  /* TODO edit icon */
}
.profilefield_container .sublabel {
  clear:both;
  font-size: 90%;
  text-align: right;
}
