.profileedit_content .sublabel ,
.profileedit_content .amount_text {
  width: var(--page-width);
  margin: var(--page-margin) auto;
  text-align: center;
  font-family: "Roboto Condensed", Arial, sans-serif;
}
.profileedit_content .amount_text {
  font-weight: bold;
}
.additional_fields { padding-top: 10px;}
.paymentfield_autoinc, .paymentfield_generic { display: none;}
