{% load static %}
{% load staticfiles %}
<!doctype html>
<html lang="nl">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="Referrer" content="origin">
    <meta name="robots" content="index, follow"/> 

    <meta name="author" content="Stichting Mancelot"/>
    <meta name="copyright" content="Stichting Mancelot" />

    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}" type="image/x-icon" />
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#022a39">
    <meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">


    {# Meta tags for auto-retrieved data when shared on social #}
    <title>{% block page_title %} Mancelot {% endblock page_title %}</title>
    <link rel="image_src" href="{% block meta_image %} {{ page_image }} {% endblock meta_image %}"/>
    <meta name="description" content="{% block meta_description %}{{ page_description }}{% endblock meta_description %}"/>
    <meta name="keywords" content="{% block meta_keywords %} {{ page_keywords }} {% endblock meta_keywords %}"/>
    <meta property="og:image" content="{% block meta_og_image %}{{ og_image }}{% endblock meta_og_image %}"/>
    <meta property="og:title" content="{% block meta_og_title %}{{ og_title }}{% endblock meta_og_title %}"/>
    <meta name="twitter:card" content="{% block meta_twitter_card %}{{ twitter_card }}{% endblock meta_twitter_card %}"/>
    <meta name="twitter:site" content="{% block meta_twitter_site %}{{ twitter_site }}{% endblock meta_twitter_site %}"/>
    <meta name="twitter:title" content="{% block meta_twitter_title %}{{ twitter_title }}{% endblock meta_twitter_title %}"/>
    <meta name="twitter:description" content="{% block meta_twitter_description %}{{ twitter_description }}{% endblock meta_twitter_description %}"/>
    <meta name="twitter:image" content="{% block meta_twitter_image %}{{ twitter_image }}{% endblock meta_twitter_image %}"/>

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/small.css' %}" media="all and (max-width: 999px)">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/cookieconsent/cookieconsent.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet" crossorigin="anonymous">
{% endblock stylesheets %}

{% block topscripts %}
    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139275191-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-139275191-1');
    </script>
{% endblock topscripts %}
</head>

<body onLoad="setTimeout(function() { showCounter = true; }, 100)">
    <div id="container">  {# container start #}
        <header>
            <div id="header">
                <div id="logo">
                  <img src="{% static 'img/Mancelot-logo.png' %}" />
                </div>
            </div>
        </header>

        <main id="home_page">
        {% block content %}
        {% endblock content %}
        </main>

        <footer>
            <section id="contact" class="back_blue pad">
                <div class="roman"></div>
                <div class="lorentz"></div>
                <div id="footer_container">

                    <div class="partner">
                      <div class="hoofd_roman"></div>
                      <h2>Partner worden?</h2>
                      <a href="mailto:roman@mancelot.app">roman@mancelot.app</a><br>
                      <a href="tel:0031103025010">010 3025010</a>
                    </div>

                    <div class="vragen">
                      <div class="hoofd_lorentz"></div>
                      <h2>Vragen & Pers?</h2>
                      <a href="mailto:lorentz@mancelot.app">lorentz@mancelot.app</a><br>
                      <a href="tel:0031103025010">010 3025010</a>
                    </div>

                    <div class="social_list">
                      <a href="https://www.instagram.com/mancelot.app/" target="_blank"><div class="social_insta"></div></a>
                      <a href="https://www.facebook.com/Mancelot-2227031900720984/" target="_blank"><div class="social_fb"></div></a>
					  <a href="https://www.twitter.com/mancelot.app/" target="_blank"><div class="social_twitter"></div></a>
                    </div>
                </div>
            </section>
        </footer>

    </div> {# container end #}

    {% block bottomscripts %}
    <script type="text/javascript" src="{% static 'vendor/cookieconsent/cookieconsent.min.js' %}"></script>
    <script>
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#000"
            },
            "button": {
              "background": "#1e5476"
            }
          },
          "theme": "classic",
          "content": {
            "message": "Deze website maakt gebruik van cookies.",
            "dismiss": "Ok",
            "link": "Meer info",
            "href": "{% url 'privacy_policy' %}"
          }
        });
    </script>
    {% endblock bottomscripts %}
</body>
</html>
