{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="intro-deel1" class="section back_white ">
  <div class="inner-section">
      <h1>Privacy Policy</h1>
      <div style="width: 100%; text-align: right;">
          <p>25 october 2019</p>
      </div>

      <div>
          <p>Privacy policy voor Stichting Mancelot, eigenaar van https://mancelot.app</p>

          <h2>1) Waarborgen Privacy</h2>
          <p>Het waarborgen van de privacy van bezoekers van https://mancelot.app 
          is een belangrijke taak voor ons. Daarom beschrijven we in onze privacy
          policy welke informatie we verzamelen en hoe we deze informatie gebruiken.</p>

          <h2>2) Toestemming</h2>
          <p>Door de informatie en de diensten op https://mancelot.app te gebruiken,
          gaat u akkoord met onze privacy policy en de voorwaarden die wij hierin
          hebben opgenomen.</p>

          <h2>3) Vragen</h2>
          <p>Als u meer informatie wilt ontvangen, of vragen hebt over de privacy
          policy van Stichting Mancelot en specifiek https://mancelot.app,
          kun u ons benaderen via e-mail. Ons e-mailadres is 
          <a href="mailto:info@mancelot.app">info@mancelot.app</a>.</p>

          <h2>4) Monitoren gedrag bezoeker</h2>
          <p>https://mancelot.app maakt gebruik van verschillende technieken 
          om bij te houden wie de website bezoekt, hoe deze bezoeker zich
          op de website gedraagt en welke pagina’s worden bezocht. Dat is
          een gebruikelijke manier van werken voor websites omdat het informatie
          oplevert op die bijdraagt aan de kwaliteit van de gebruikerservaring.
          De informatie die we, via cookies, registreren, bestaat uit onder
          meer IP-adressen, het type browser en de bezochte pagina’s.
          <br><br>
          Tevens monitoren we waar bezoekers de website voor het eerst bezoeken
          en vanaf welke pagina ze vertrekken. Deze informatie houden we anoniem
          bij en is niet gekoppeld aan andere persoonlijke informatie, informatie
          die op websites.</p>

          <h2>5) Gebruik van cookies</h2>
          <p>https://mancelot.app plaatst cookies bij bezoekers. Dat doen we om
          informatie te verzamelen over de pagina’s die gebruikers op onze 
          website bezoeken, om bij te houden hoe vaak bezoekers terug komen
          en om te zien welke pagina’s het goed doen op de website. Ook houden
          we bij welke informatie de browser deelt.</p>

          <h2>6) Cookies uitschakelen</h2>
          <p>U kunt er voor kiezen om cookies uit te schakelen. Dat doet u
          door gebruik te maken de mogelijkheden van uw browser. U vindt
          meer informatie over deze mogelijkheden op de website van de 
          aanbieder van uw browser.</p>

          <h2>7) Cookies van derde partijen</h2>
          <p>Het is mogelijk dat derde partijen, zoals Google, op onze website 
          adverteren of dat wij gebruik maken van een andere dienst. Daarvoor
          plaatsen deze derde partijen in sommige gevallen cookies. Deze
          cookies zijn niet door https://mancelot.app te beïnvloeden.</p>

          <h2>8) Identiteit van de ondernemer</h2>
          <p>De Stichting Mancelot is ingeschreven bij de Kamer van Koophandel (KvK)
          onder nummer {{ mancelot_kvk }}, en ons BTW-nummer is {{ mancelot_btw }}.
          De directie van Stichting Mancelot bestaat uit <i>STOUT Holding B.V.</i>
          (KvK: 63206536) en <i>TheRoman B.V.</i> (KvK: 68362331), vertegenwoordigd 
          door Lorentz Stout en Roman Markovski, respectievelijk.
          </p>

          <h2>9) Cookies</h2>
          <p>Wij plaatsen de volgende cookies.
              <table>
                  <thead>
                      <tr><th>Cookie</th><th>Levensduur</th><th>Reden</th></tr>
                  </thead>
                  <tbody>
                      <tr><td>cookieconsent_status</td><td>Sessie</td><td>AVG</td></tr>
                      <tr><td>csrftoken</td><td>Sessie</td><td>Veiligheid</td></tr>
                      <tr><td>_ga</td><td>Sessie</td><td>Websiteanalyse</td></tr>
                      <tr><td>_gid</td><td>Sessie</td><td>Websiteanalyse</td></tr>
                      <tr><td>_gat_gtag_UA_139275191_1</td><td>Sessie</td><td>Websiteanalyse</td></tr>
                  </tbody>
              </table>
          </p>
      </div>
  </div>
</section>

<section id="wat-en-wie" class="section clearfix">
  <div class="roman"></div>
  <div class="lorentz"></div>
</section>
{% endblock content %}
